{
  "presets": [["env", { "modules": false }], "react", "es2017"],
  "plugins": [
    "syntax-dynamic-import",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ],
    [
      "import-inspector",
      {
        "serverSideRequirePath": true
      }
    ]
  ]
}
